section {
    padding-top: 4vh;
    height: 85vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Drago LV */

#shoes {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;

}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;

}

.section__text {
    align-self: center;
    text-align: center;
}

.secttion__text p {
    font-weight: 600;
}

.section__text__p1{
   font-size: 1.75rem;
   margin-bottom: 1rem;
}

.shoe-name {
    font-size: 3rem;
    text-align: center;
}


/* img scroll container */
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    height: 400px;
    width: 400px;
  }
  
  div.scroll-container img {
    width: 400px;
    height: 400px;
  }

  /*  PHOTO BUTTON STYLING */

  #switchButton {
    background-color: transparent;
    height: 50px;
    width: auto;

    justify-content: center;
    float: none;
    border: 1px solid black;
    border-radius: 15px;

  }