/* font for website */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




h2 {
    justify-content: center;
    text-align: center;
    font-family: poppins;
}
h2 a {
    color: orange;
}

.message {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    /* 50% smaller than the homepage defaults (was padding:1rem; width:8rem) */
    padding: 0.5rem;
    width: 4rem;
    border-radius: 2rem;
    font-size: 0.9rem;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53,53,53) 0.1rem solid;

}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover {
    background: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0,0,0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* Ensure the shipping/payment section sits below the fixed nav */
section.shippingAndCard {
    /* desktop nav height is 17vh in homepage/style.css */
    padding-top: 5vh;
    box-sizing: border-box;
}